<div class="countainer">
    <h1 class="text-center">Adicione o Genero</h1>
    <form action="/addGener" method="POST">
        <div class="input-group mb-3">
            <label class="input-group-text">Nome</label>
            <input name="name" class="form-control" type="text" placeholder="Insira o Nome">
        </div>
        <button type="submit" class="btn btn-success">Cadastrar</button>
    </form>
</div>